<div class="container">
    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Email is missing or invalid!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="email" placeholder="email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        Or
        <a routerLink="/auth/register">register now!</a>
        <p *ngIf="DisplayError" nz-typography nzType="danger" style="color:red;">Login Failed</p>
      </form>
</div>