body, html {
    margin: 0;
    height: 100%;
    overflow: auto;
    background-color: #FFD700; /* Golden Yellow */
}

h2 {
    color: white;
    font-size: 24px; /* Dimensiunea fontului ajustată */
}

.form-container {
    position: relative;
    width: 100%;
    margin: 20px 0; /* Margini ajustate */
    padding: 5px; /* Padding ajustat */
    border-radius: 8px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

form {
    position: relative;
    z-index: 1;
}
/* Stiluri pentru etichete */
form label {
    color: white;
    text-align: center;
    width: 100%;
    display: block;
}

/* Stiluri pentru câmpurile de input */
input[type="text"], input[type="email"], input[type="password"] {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 5px; /* Padding ajustat */
    font-size: 14px; /* Dimensiunea fontului ajustată */
}

/* Stiluri pentru buton */
button[type="submit"] {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

/* Stiluri pentru centrarea butonului */
form .form-group:last-child {
    justify-content: center;
}

.btn-custom {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border: 2px solid white; /* White border */
    color: #2c2c2c; /* Dark text color */
    padding: 5px 10px; /* Padding ajustat */
    border-radius: 5px; /* Rounded corners */
    font-size: 14px; /* Font size */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for background color and transform */
}

/* Change background color and slightly scale the button when hovered */
.btn-custom:hover {
    background-color: rgba(255, 255, 255, 1); /* Solid white background on hover */
    transform: scale(1.05); /* Slightly scale the button */
}

/* Remove outline on focus (optional) */
.btn-custom:focus {
    outline: none;
}

/* Stiluri responsive */
@media (max-width: 576px) {
    .form-container {
        margin: 20px 0;
        padding: 10px;
    }

    input[type="text"], input[type="email"], input[type="password"], button[type="submit"] {
        margin: 5px 0; /* Reduced margin on smaller screens */
    }
}